<%- include('partials/header'); -%>

  <div class="container">
    <h1 class="title padding-3">Welcome to GDSC license plate recognition</h1>

    <form enctype="multipart/form-data">
      <label for="test">Choose an image / video: </label>
      <input type="file" id="test" name="test" accept=".jpg, .jpeg, .png, .mp4, .mkv">
      <button type="button" name="button">Submit</button>
    </form>

    <div class="preview padding-3">
      <p>No file currently selected for preview</p>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="js/index.js" charset="utf-8"></script>

<%- include('partials/footer'); -%>
