<%- include('partials/header'); -%>

    <div class="container" style="background-color: white;">
      <video class="margin-top-5" controls>
        <source src="<%= source %>" type="video/webm">
        <p>Your browser doesn't support HTML5 video.</p>
      </video>
    </div>

<%- include('partials/footer'); -%>
