<%- include('partials/header'); -%>

    <div class="container">
      <img class="padding-3" src="<%= source %>" alt="Result">
      <p><%= plates %></p>
    </div>

<%- include('partials/footer'); -%>
