html, body {
  height: 100%;
}

footer {
  text-align: center;
}

.background {
  background-image: url("/images/bg.jpg");
}

.container-fluid {
  width: 80%;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  min-height: 60%;
  position: relative;
  padding-bottom: 2%;
}

.upload {
  background-color: #fff;
  padding: 2%;
  border-radius: 15px;
}

.padding-3 {
  padding: 3%;
}

.margin-top-5 {
  margin-top: 5%;
}

.title {
  font-size: 5rem;
  font-weight: bolder;
}

.loading {
  margin-top: 20%;
}

.loading-spin {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#drop_zone {
  margin: 3% 0 auto;
  border: 5px dashed #000;
  border-radius: 15px;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#drop_zone:hover {
  border: 5px dashed #787A91;
}

#upload-file {
  display: none;
}
